<nav class="navbar navbar-expand-sm navbar-light bg-success sticky-top">
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="#"><i class="fas fa-home"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">2° Oportunidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Caja Virtual</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Pagos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Adeudos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#"><i class="fas fa-sign-out-alt"></i></a>
                </li>
            </ul>
        </div>

    </div>
</nav>