<footer class="footer bg-dark">

    <div class="container pt-4">

        <div class="row border-bottom border-light ">
        
            <div class="col-md-4 hidden-xs">    
                <h6 class="border-bottom border-light ">Contacto</h6>
                <p>Te invitamos a enviar tus comentarios sobre el desempeño del sistema.<br>
                    Con gusto atenderemos tus inquietudes y observaciones. 
                    </p>    
            </div>

            <div class="col-md-4">
                <h6 class="border-bottom border-light">Desarrollo de Sistemas</h6>
                <p class="border-bottom border-light text-center"><i class="fas fa-phone"></i>Extensión:127</p>
                <ul class="border-bottom border-light">
                    <li><i class="fas fa-envelope"></i>  ajsanchez@itesa.edu.mx</li>
                    <li><i class="fas fa-envelope"></i>  esaldivar@itesa.edu.mx</li>
                    <li><i class="fas fa-envelope"></i>  sromero@itesa.edu.mx</li>
                    <li><i class="fas fa-envelope"></i>  mmoreno@itesa.edu.mx</li>
                </ul>
                <p class="text-center"><i class="fas fa-home"></i>Planta alta edificio 'E'.</p>
            </div>

            <div class="col-md-4">
                <h6 class="border-bottom border-light">Apoyo informático</h6>
                <p class="border-bottom border-light text-center"><i class="fas fa-phone"></i>Extensión:128</p>
                <ul class="border-bottom border-light">
                    <li><i class="fas fa-envelope"></i> apoyo_informatico@itesa.edu.mx</li>
                    <li><i class="fas fa-envelope"></i> dolguin@itesa.edu.mx </li>
                    <li><i class="fas fa-envelope"></i> ezamora@itesa.edu.mx</li>
                    <br>
                </ul>
                <p class="text-center"><i class="fas fa-home"></i>Planta baja edificio 'E'.</p>
            </div>

        </div>

        <div class="row border-top border-light">
            <p>
                &copy; ITESA | Desarrollo de Sistemas {{ anio }}
            </p>
        </div>

    </div>

</footer>